.chatroom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -11px;
}

.chatroom-item {
  border-bottom: 0.5px solid #ccc;
  border-top: 0.5px solid #ccc;
  padding: 10px 0;
  margin: 0 auto;
  display:flex;
  gap: 17px;
  margin-right: 20px;

    a {
      text-decoration: none;
      color: black;
    }

}

.chatroom-item:first-child {
  border-top: none;
}

.chatroom-item:last-child {
  border-bottom: none;
}

.owner-chatroom-photo {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}

.chatroom-infos {
  display: flex;
  flex-direction: column;
}

.chatroom-infos-chevrons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73%;
}
