.container-show-chatroom {
  max-width: 428px;
  margin: 0 auto;
  padding: 20px 16px 0;
  box-sizing: border-box;
}

.message-bar {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -19px;
  justify-content: flex-end;
}

.content-bar {
  .mb-3 {
    margin-left: -336px;
    margin-right: 124px;
    margin-top: -97px;
  }
}
