.container-show-chatroom {
  max-width: 428px;
  margin: 0 auto;
  padding: 32px 16px 0;
  box-sizing: border-box;
}

.message-bar {
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -29px;
  justify-content: flex-end;
}

.content-bar {
  .mb-3 {
    margin-left: -370px;
    margin-right: 13px;
    margin-top: 16px;
  }
}

.form-control {
  // border-radius: 43px;
  padding: 3px;
}

.content-bar-button{
  display: flex;
  align-items: center;
  color: #223E35;
}


.icone-title {
  display: flex;
  gap : 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.icone-return {
  margin-left: 16px;
  width: 50px;
  height: 50px;
}

.icon-send {
  background: transparent;
  border: none;
}

.button-bar {
  margin-left: -7px;
  margin-right: 12px;
}

.message-bar {
  margin: auto;

}

.navbar-message {
  width: 100%;
  height: 5rem;
  position: fixed;
  z-index: 10;
  top: 0px;
}

.messages {
  margin-top: 56px;
}
