<div id="message-<%= message.id %>">
  <small>
    <div class="titre-date-message">
      <div class = "titre-message">
        <strong><%= message.user.user_name %></strong>
      </div>
      <div class = "date-message">
        <i><%= message.created_at.strftime("%d/%m/%Y") %></i>
      </div>
    </div>
  </small>
  <div class="message-content">
    <p><%= message.content %></p>
  </div>
</div>
