// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url("https://use.typekit.net/lma3rqq.css");

// Define fonts for body and headers
$body-font: "venice-blvd", sans-serif;
$headers-font: "venice-blvd", sans-serif;

.title {
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.5%; /* 44px */
  letter-spacing: 0.96px;
  margin: 0;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.wof  f') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
