<div data-refresh-clothes-list-target="list">
  <% if params[:query].present? %>
      <% clothes.each do |clothe| %>
        <div data-controller="overlay">
          <%= render "pages/card", clothe: clothe %>
          <%= render "pages/overlay-clothes", clothe: clothe %>
        </div>
      <% end %>
  <% else %>
    <div class="">
      <div class="row d-flex justify-content-center">
        <% categories.each do |category| %>
          <div class="col-6 category-box container-phone">
          <%= link_to category.name, category_path(category) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
