<script>window.disable_dates = [
  <% reservations_dates.each do |dates|%>
    <% dates.each do |date| %>
      "<%= date %>",
    <% end %>
  <% end %>
  ]</script>

<div class="calendar-container">
  <%= simple_form_for [clothe, transaction] do |f| %>
    <%= f.input :start_date, input_html: {data: {controller: "datepicker", inline: true }}, label: false, as: :string%>
    <div class="form-button">
      <%= f.submit 'Réserver', class: 'booking-btn'%>
      <button data-action="click->toggle#fire2" data-toggle-target="togglableButton" class="booking-btn">annuler</button>
    </div>
  <% end %>
</div>
