<div class="navbar container-phone">
  <h1 class="title">🔎 Recherche</h1>
</div>

<div class="container-phone">
  <div class="d-flex justify-content-center">
    <div class="search-bar" data-controller="refresh-list">
      <%= form_with url: clothes_path, method: :get, html: { class: 'mb-5', data: { refresh_list_target: 'form', action: 'keyup->refresh_clothes_list#update' } } do |f| %>
        <%= f.text_field :query,
                    class: "form-control",
                    placeholder: "Recherche un vêtement...",
                    value: params[:query],
                    data: { refresh_list_target: 'searchInput' } %>
      <% end %>


      <div data-refresh-list-target="list">
        <%= render "list" %>
      </div>
    </div>
  </div>
</div>
