<div class="navbar container-phone">
  <div class="d-flex align-items-center">
    <%= image_tag "logo_komod.png", class: 'logo', width: '50px', height: '50px' %>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search me-3"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
</div>

<div class="container-phone clothe-cards">
  <% @clothes.first(10).each do |clothe| %>
    <div data-controller="overlay">
      <%= render "card2", clothe: clothe %>
      <%= render "overlay-clothes", clothe: clothe %>
    </div>
  <% end %>
</div>
