<h1>Feed</h1>

<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>
<h1>Feed</h1>

<div class="button">
  <%=link_to "Réservez", root_path %>
</div>


<p>Find me in app/views/pages/home.html.erb</p>
