<div class="container w-50">
  <%= link_to " #{clothe.name}", clothe_path(clothe) %>
 <%= cl_image_tag(clothe.photos.first.key, width: 200, height: 200, crop: :fill) %>
  <%= button_to "like", clothe_likes_path(clothe) %>
  <%= link_to "profil de#{clothe.owner.user_name}", profils_path(clothe.owner) %>
</div>
