<div class="container w-50">
  <%= link_to " #{clothe.name}", clothe_path(clothe) %>
  <% clothe.photos.each do |photo| %>
    <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
  <% end %>
  <%= button_to "like", clothe_likes_path(clothe) %>
  <%= link_to "profil de#{clothe.owner.user_name}", profils_path(clothe.owner) %>
</div>
