<div data-action="click->toggle#fire">
  <H1>MA KOMOD</H1>
  <% number_of_location = 0  %>
  <% clothes.each do |clothe| %>
    <% number_of_location += clothe.transactions.size %>
  <% end %>
  <%= "#{clothes.size} vetenemt dans ma komod" %>
  <br>
  <%= "#{number_of_location} emprunts en cours" %>
</div>
<div data-toggle-target="togglableElement" class="d-none">
  <% clothes.each do |clothe| %>
    <% if clothe.transactions.size > 0 %>
      <%= render "ticket", clothe: clothe %>
    <% end %>
  <% end %>
  <% clothes.each do |clothe| %>
    <% if clothe.transactions.size == 0 %>
      <%= render "ticket_empty", clothe: clothe %>
    <% end %>
  <% end %>
</div>
