<div data-controller="toggle">
  <button data-action="click->toggle#fire" class="index-btn"> Ma Komod'
    <svg width="20" height="19" viewBox="0 0 176 164" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M92 164L0 0H175.5L92 164Z" fill="white"/>
    </svg>
  </button>

  <div data-toggle-target="togglableElement" class="d-none">
    <% clothes.each do |clothe| %>
      <% if clothe.transactions.size > 0 %>
        <%= render "ticket", clothe: clothe %>
      <% end %>
    <% end %>
    <% clothes.each do |clothe| %>
      <% if clothe.transactions.size == 0 %>
        <%= render "ticket_empty", clothe: clothe %>
      <% end %>
    <% end %>
  </div>
</div>
