<div data-action="click->toggle#fire">
  <% number_of_location = 0  %>
  <% clothes.each do |clothe| %>
    <% number_of_location += clothe.transactions.size %>
  <% end %>
  <div class="preview">
    <div class="my-clothes">
      <p><%= "#{clothes.size} Vêtements" %></p>
      <i class="fa-solid fa-shirt"></i>
    </div>
    <div class="my-locations">
        <p><%= "#{number_of_location} Emprunts" %></p>
        <i class="fa-solid fa-shirt"></i>
        <i class="fa-solid fa-up-long arrow"></i>
    </div>
  </div>
</div>
<div data-toggle-target="togglableElement" class="d-none">
  <% clothes.each do |clothe| %>
    <% if clothe.transactions.size > 0 %>
      <%= render "ticket", clothe: clothe %>
    <% end %>
  <% end %>
  <% clothes.each do |clothe| %>
    <% if clothe.transactions.size == 0 %>
      <%= render "ticket_empty", clothe: clothe %>
    <% end %>
  <% end %>
</div>
