<div class="my-gives">
  <div class="icon">
    <p><%= "#{transactions.size} Emprunts"%></p>
    <i class="fa-solid fa-shirt"></i>
    <i class="fa-solid fa-up-long arrow"></i>
  </div>
  <div class="all-my-transactions">
        <%= link_to "Mes transactions", owner_clothe_transactions_path, class: 'booking-btn' %>
  </div>
</div>

<% transactions.each do |transaction| %>
  <%= render "ticket_location", transaction: transaction, clothe: transaction.clothe %>
<% end %>
