<div data-action="click->toggle#fire">
  <H1>MES PRETS</H1>
  <%= "#{transactions.size} prets en cours" %>
</div>
  <div data-toggle-target="togglableElement" class="d-none">
    <% transactions.each do |transaction| %>
      <%= render "ticket_location", transaction: transaction, clothe: transaction.clothe %>
    <% end %>
  </div>
</div>
