.font-creation{
 color: $button-green;
 font-weight: bold;
}

.form-champs{
  .form-control {
    border-width: 2px;
    border-color: $button-green;
    border-radius: 17px;
  }
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icone{
  margin-right: 8px;
}


.form-new-clothe {
  .container-phone {
    display:flex;
    justify-content: space-around;
    align-content: space-between;
  }
}
