// Image du vêtement de la show
.image-container {
  position: relative;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  margin-top: 16px;
}

.title-clothe {
  font-size: 25px;
  font-weight: bold;
  padding: 20px 16px 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.show-carousel {
  .carousel {
    img {
      border-radius: 0;
      filter: none;
    }
  }
}

.calendar-container {
  position: relative;

  #new_transaction {
    position: absolute;
    top: -320px;
    left: -154px;
  }
  .form-button {
    display: flex;
    justify-content: space-evenly;
  }
  .flatpickr-input {
    display: none;
  }
}
