.edit-button-overlay {
  position: relative;
  top: 5px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.image-profile {
  border: 5px solid $green;
  padding: 5px;
}

.logout-button {
  display: inline-block;
  font-size: 28px;
  color: #333;
  padding-top: 16px;
}

.profil-infos {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  .profil-description {
    p {
      margin: 18px 0px 0px -20px;
    }
  }
}

.dashboard {
  text-align: center;

  i {
    position: relative;
    top: 3px;
  }
}

.undertitle {
  margin: 10px 58px 10px 10px;
  display: flex;
  justify-content: space-between;
  gap: 45px;

  p {
    margin: 0;
  }
}
.co2 {
  font-size: 10px;
  padding-left: 10px;
  margin: 0;
}

.header {
  margin-top: -20px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  a {
    margin: 0;
    padding: 6px 6px 5px 6px;
    text-align: center;
    text-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 5px #223e3b;
  }

  i {
    padding-top: 1px;
    text-align: center;
  }
}

.account-level {
  background-color: #223e3b;
  color: #ecc37a;
  border-radius: 10px;
  padding: 15px 10px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .level-icon {
    position: relative;
    i {
      padding: 6px;
      font-size: 30px;
      color: #ecc37a;
      text-shadow: 0px 0px 5px #000000;
    }
    .level {
      position: absolute;
      top: 10px;
      left: 13px;
      color: #223e3b;
    }
  }
  .level-bar {
    text-align: center;
    color: #223e3b;
    flex-grow: 1;
    margin: 0 10px;
    background-color: wheat;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #000000;
    p {
      border-radius: 15px;
      margin: 0;
      background-color: #ecc37a;
      border-color: #333;
      width: 78%;
    }
  }
}

.komod,
.emprunts {
  display: flex;
  flex-direction: column;
  border: 2px solid #223e3b;
  color: #ecc37a;
  border-radius: 10px;
  min-height: 80px;
  width: 100%;
  margin-bottom: 20px;

  h1 {
    text-align: center;
  }
}

.komod {
  color: #223e3b;
  .preview {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
    p {
      margin: 0;
      padding: 0;
    }

    .my-clothes,
    .my-locations {
      color: #223e3b;
      min-height: 80px;
      width: 48%;
      position: relative;

      i {
        font-size: 45px;
        text-shadow: 0px 0px 4px #223e3b;
      }
    }

    .my-clothes {
      i {
        color: #ecc37a;
      }
    }

    .my-locations {
      i {
        color: #223e3b;
      }

      .arrow {
        position: absolute;
        left: 88px;
        top: 37px;
        font-size: 23px;
        color: #ecc37a;
      }
    }
  }
}

.emprunts {
  text-align: center;
  position: relative;

  p {
    color: #223e3b;
    margin: 0;
    padding: 0;
  }
  .my-gives {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .icon {
      width: 48%;
    }

    .all-my-transactions {
      width: 48%;
      a {
        font-size: 16px;
      }
    }
    i {
      color: #223e3b;
      font-size: 45px;
      text-shadow: 0px 0px 4px #223e3b;
    }
    .arrow {
      position: absolute;
      left: 93px;
      top: 39px;
      font-size: 22px;
      color: #ecc37a;
    }
  }
}
