.button {
  background-color: $button-green;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  margin: 4px 2px;
  border-radius: 30px;
  width: 170px;
  a{
    color: white;
    text-decoration: none;
  }
}

.booking-btn {
  border: 1mm solid #E2773A;
  background-color: #E2773A;
  color: white;
  font-size: 25px;
  border-radius: 25px;
  padding: 2px 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.delete-btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $red;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #e63946; /* Couleur de fond légèrement plus claire au survol */
}
