.clothe-cards{
display: flex;
flex-direction: column;
align-items: center;
}
.clothe-card{
  border-radius: 1rem;
  margin-top: 12px;
  .clothe-details{
    position: relative;
    top: -52px;
    height: 0;
    align-items: start;
    justify-content: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;

      .like {
       text-decoration: none;
       color: black;
      }
      a {
        text-decoration: none;
        color: white;
        // background-color: $button-green;
        padding: 0rem 0.3rem;
        font-weight: bold;
        text-align: justify;
       }
       button {
        background: transparent;
        border: none !important;
       }
  }

}
.clothe-card-illustration{
  width: 100%;
  img {
    border-radius: 29px;
    object-fit: cover;
    -webkit-filter : blur(0px) contrast(20%); /* Chrome, Safari, Opera */
    filter : blur(0px) contrast(80%);
  }
}
