.card-container {
  position: relative;
  margin-top: 12px;
}

.carousel {
  img {
    border-radius: 29px;
    object-fit: cover;
    -webkit-filter: blur(0px) contrast(20%);
    filter: blur(0px) contrast(50%);
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 79px;
  left: 0;
  width: 400px;
  height: 397px;
}

.category {
  color: white;
  background-color: $button-green;
  padding: 5px;
  border-radius: 32px;
  font-size: 13px;
}

.bot-info {
  display: flex;
}

.owner-info {
  display: flex;
}

.card-images {
  margin-bottom: 40px;
}
.map {
  color: white;
}

.top-info,
.bot-info {
  justify-content: space-between;
  display: flex;
  margin: 1rem;
  align-items: flex-end;
  p {
    margin: 0;
  }
}

.photo-owner {
}

.map {
}

.description {
  color: white;
}

.like-button {
  z-index: 5;
  position: absolute;
  top: 405px;
  right: 12px;
  button {
    background-color: transparent;
    border: none;
  }
}

.owner-photo {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  object-fit: cover;
}

.owner-info {
  display: flex;
  gap: 13px;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 18px;
}
