.navbar {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background: white;
  height: 6rem;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 5px;

  h1 {
    font-size: 32px;
    padding: 20px 16px 0;
    text-align: left;
  }
}

.navbar-cloth {
  background: white;
  height: 5rem;
  width: 100%;
  display: flex;
  padding-top: 16px;
  padding-bottom: 5px;

  h1 {
    font-size: 25px;
    padding: 20px 16px 0;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Logo KOMOD' Home
.logo {
  border-radius: 10px;
  margin-left: 16px;
  margin-block: 20px;
}
