.tag-clothe {
  display: inline-flex;
  padding: 13px 15px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 25px;
  background: $green;
  color: white;
  font-size: 20px;
}

.status-transactions {
  display: inline-flex;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border-radius: 25px;
  background: $green;
  color: white;
  font-size: 20px;
}
