<div class="navbar">
  <div class="d-flex ms-4">
    <%= link_to (image_tag "icons/undo_icon.svg"), root_path, class: "d-flex"%>
    <h1 class="title">Catégories</h1>
  </div>
</div>

<div class="container-phone">
    <div class="row d-flex justify-content-center">
      <% @categories.each do |category| %>
        <div class="col-6 category-box container-phone">
          <%= link_to category.name, category_path(category) %>
        </div>
      <% end %>
    </div>
</div>
