<div class="navbar">
  <div class="ms-3 d-flex gap-3">
    <%= link_to (image_tag "icons/undo_icon.svg"), root_path, class: "d-flex"%>
    <h2 class="title">Bravo ! 🤩</h2>
  </div>
</div>

<div class="container-phone">
<p class="booking-btn d-flex justify-content-center">Récapitulatif</p>
</div>

<% if current_user == @transaction.client %>
  <%= render "client" %>
<% else %>
  <%= render "owner" %>
<% end %>
